/* Style the body to set default styles for the page.*/
* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 16px;
  background-color: #fffaf0;
}

h1{
  font-size: 4.5rem;
  color: #006400;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #006400;
  text-transform: uppercase;
  font-weight: semi-bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 2.5;
  color: #8fbc8f
  text-transform: uppercase;
  font-weight: semi-bold;
  text-align: center;
  margin-bottom: 50px;
}

img {
  height: 500px;
  width: auto;
  margin: auto;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.time {
  font-size: 1.5rem;
  color: #8b0000;
  font-weight: bold;
}

li {
  line-height: 1.5;
}

ul li {
  list-style-type: square;
}

a:link {
  color: #006400;
  font-weight: bold;
}

a:visited {
  color: #556b2f;
}

a:hover {
  color: #8b0000;
  font-weight: normal;
  text-decoration: underline;
}

a:active {
  color: #FF0000;
}

ul, ol {
  margin-left: 25px;
}
/*select html and set the background color, color, font family with fallback, and font size. */
/*change img height to 300px and width to auto*/
/*change subtitle font size to larger than the default. */
/*Change the times to a bold font-weight*/
/*select the li inside of ingredients to list-style: square*/
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
/*select h1 and h2 elements and change their case to uppercase*/
