/* Style the body to set default styles for the page.*/
* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 16px;
}

h1{
  font-size: 4.5rem;
  color: #006400;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: semi-bold;
  text-align: center;
}

img {
  height: 412px;
  width: auto;
}

body {
  background-image: url("https://media.istockphoto.com/id/1198380802/vector/food-background-vegetables-seamless-pattern-healthy-eating-tomato-garlic-carrot-pepper.jpg?s=612x612&w=0&k=20&c=jHB3uTWZrakPyAgqSQfOApxSq_jIwHRx00LiOV2YHEk=");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-opacity: 0.3;
}

li {
  line-height: 2.5;
}

ul li {
  list-style-type: square;
}

a:link {
  color: #006400;
  font-weight: bold;
}

a:visited {
  color: #556b2f;
}

a:hover {
  color: #8b0000;
  font-weight: normal;
  text-decoration: underline;
}

a:active {
  color: #FF0000;
}

ul, ol {
  margin-left: 25px;
}
/*select html and set the background color, color, font family with fallback, and font size. */
/*change img height to 300px and width to auto*/
/*change subtitle font size to larger than the default. */
/*Change the times to a bold font-weight*/
/*select the li inside of ingredients to list-style: square*/
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
/*select h1 and h2 elements and change their case to uppercase*/
